.roninMobileIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;

  .roninMobileIcon {
    margin: auto;
    display: block;
    height: 70px;
    border-radius: 16px;
  }

  .description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .openAppButton {
    background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 100%;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 12px;

    &:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }
  }
}
