.injectedProviders {
  padding: 16px 24px;
  width: 360px;
  background-color: rgb(26 28 31 / 50%);
  border-radius: 16px;

  .content {
    height: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 320px;
  }
}