.cartButton {
  position: relative;

  .cartCount {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0c48c0;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #5294f8;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}
