.tabs {
  width: 100%;

  > div {
    width: 100%;
  }

  .token {
    display: flex;
    align-items: center;
    gap: 4px;

    .image {
      width: 16px;
    }
  }

  @media (max-width: 768px) {
    .token {
      .image {
        display: none;
      }
    }
  }
}
