.offerItem {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .detail {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .item {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
