.tantoWagmi {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 120px;

  @media (max-width: 768px) {
    padding-top: 60px;
  }

  .connectors{
    padding: 16px 24px;
    width: 360px;
    background-color: rgb(26 28 31 / 50%);
    border-radius: 16px;
    margin-top: 24px;
    height: fit-content;
    max-height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
