.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.listingDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tokenList {
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .tokenImage {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
}
