.navigation {
  .tab {
    height: 36px;
    margin: 4px;
    min-width: 200px;
  }

  .activeTab {
    background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
    background-size: 200% auto;
    transition: 0.5s;
  }

  .tabTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
  }

  > div {
    background-color: rgb(26 28 31 / 50%);
  }
}

